
<div class="page page-table" data-ng-controller="tagCtrl">

    <div class="row ui-section">
        <div class="col-lg-8 clearfix">
            <h2 class="section-header">Tags</h2>
        </div>
        <div class="col-md-12">
            <section class="panel panel-default table-dynamic">
                <div class="table-filters">
                    <div class="row">
                        <div class="col-sm-4 col-xs-6">
                            <form>
                                <input type="text"
                                       placeholder="Search..."
                                       class="form-control"
                                       data-ng-model="searchKeywords"
                                       data-ng-keyup="search()">
                            </form>
                        </div>
                        <div class="col-sm-3 col-xs-6 filter-result-info">
                <span>
                Showing {{filteredTags.length}}/{{tags.length}} entries
                </span>
                        </div>
                    </div>
                </div>

                <table class="table table-bordered table-striped table-responsive">
                    <thead>
                    <tr>
                        <th>
                            <div class="th">
                                Description
                <span class="fa fa-angle-up"
                      data-ng-click=" order('description') "
                      data-ng-class="{active: row == 'description'}"></span>
                <span class="fa fa-angle-down"
                      data-ng-click=" order('-description') "
                      data-ng-class="{active: row == '-description'}"></span>
                            </div>
                        </th>
                        <th>
                            <div class="th">
                                User
                <span class="fa fa-angle-up"
                      data-ng-click=" order('user') "
                      data-ng-class="{active: row == 'user'}"></span>
                <span class="fa fa-angle-down"
                      data-ng-click=" order('-user') "
                      data-ng-class="{active: row == '-user'}"></span>
                            </div>
                        </th>
                        <th>
                            <div class="th">
                                Date
                <span class="fa fa-angle-up"
                      data-ng-click=" order('date') "
                      data-ng-class="{active: row == 'date'}"></span>
                <span class="fa fa-angle-down"
                      data-ng-click=" order('-date') "
                      data-ng-class="{active: row == '-date'}"></span>
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="tag in currentPageTags"  ng-click="edit(tag._id)">
                        <td>{{tag.description}}</td>
                        <td>{{tag.user.local.name}}</td>
                        <td>{{tag.date | date:"dd/MM/yyyy 'at' h:mma"}}</td>
                    </tr>
                    </tbody>
                </table>

                <footer class="table-footer">
                    <div class="row">
                        <div class="col-md-12 text-right pagination-container">
                            <uib-pagination class="pagination-sm"
                                            ng-model="currentPage"
                                            total-items="filteredTags.length"
                                            max-size="4"
                                            ng-change="select(currentPage)"
                                            items-per-page="numPerPage"
                                            rotate="false"
                                            previous-text="&lsaquo;" next-text="&rsaquo;"
                                            boundary-links="true"></uib-pagination>
                        </div>
                    </div>
                </footer>
            </section>
        </div>

    </div>

    <md-button class="md-fab md-warn md-fab-bottom-right" aria-label="new tag" ng-click="new()">
        <span class="fa fa-plus"></span>
    </md-button>

</div>
